/* Global Styles */
html {
  font-family: var(--font-sans);
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-background);
  font-feature-settings: var(--font-feature-settings-default);
  text-box: trim-both cap alphabetic;
}

body {
  overflow-x: hidden;
}

* {
  text-box: inherit;
}

/* Global Grid System */
.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 768px) {
  .main-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
